:host {
    display: block;
}

.my-component-child {
    background-color: red;
}

.x7f9d2e {
    .sc-k8j2m4-h {
        display: block
    }

    [clamp].sc-k8j2m4-h {
        min-width: 0
    }

    .sc-k8j2m4-h {
        --font-family-text: Helvetica, sans-serif;
    }

    @supports (font-variation-settings: normal) {
        .sc-k8j2m4-h {
            --font-family-text: Noto Sans, Helvetica, sans-serif;
        }
    }

    .sc-k8j2m4-h:lang(ja) {
        --font-family-text: Noto Sans JP, Helvetica, sans-serif
    }

    .sc-k8j2m4-h:lang(ar) {
        --font-family-text: Noto Kufi Arabic, Helvetica, sans-serif
    }

    .sc-k8j2m4-h:lang(ko) {
        --font-family-text: Noto Sans KR, Helvetica, sans-serif
    }

    .sc-k8j2m4-h:lang(hi) {
        --font-family-text: Noto Sans, Helvetica, sans-serif
    }

    .sc-k8j2m4-h:lang(he) {
        --font-family-text: Noto Sans Hebrew, Helvetica, sans-serif
    }

    .sc-k8j2m4-h:lang(ka) {
        --font-family-text: Noto Sans Georgian, Helvetica, sans-serif
    }

    .sc-k8j2m4-h:lang(th) {
        --font-family-text: Noto Sans Thai, Helvetica, sans-serif
    }

    .sc-k8j2m4-h:lang(zh) {
        --font-family-text: Microsoft YaHei, ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, Hiragino Kaku Gothic ProN W3, Osaka, メイリオ, Meiryo, ＭＳ Ｐゴシック, MS PGothic, Arial Unicode MS, Tahoma, Helvetica, sans-serif
    }

    .sc-k8j2m4-h:lang(zh-Hant) {
        --font-family-text: Microsoft JhengHei, Geneva CY, ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, Hiragino Kaku Gothic ProN W3, Osaka, メイリオ, Meiryo, ＭＳ Ｐゴシック, MS PGothic, Arial Unicode MS, Tahoma, Helvetica, sans-serif
    }

    @supports (font-variation-settings: normal) {
        .sc-k8j2m4-s>strong,
        .sc-k8j2m4-s>b {
            font-variation-settings: "opsz" 12, "wght" 700
        }
    }

    .a9b3c7 {
        -moz-osx-font-smoothing: grayscale;
        -webkit-font-smoothing: antialiased;
        color: var(--text-color, #000F1E);
        font-family: var(--text-font-family, var(--font-family-text));
        font-style: var(--text-font-style, inherit);
        font-variant-numeric: tabular-nums;
        font-variation-settings: "opsz" 12, "wght" 400;
        font-weight: var(--text-font-weight, 400);
        letter-spacing: var(--text-letter-spacing, inherit);
        line-height: var(--text-line-height, 1.5);
        margin: 0;
        text-transform: var(--text-text-transform, var(--text-transform, inherit))
    }

    .f3d8e1 {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap
    }

    .b7c4d9 {
        -webkit-box-orient: vertical;
        display: -webkit-box;
        -webkit-line-clamp: var(--text-clamp-length);
        overflow: hidden
    }

    .a9b3c7--size-xx-small {
        font-size: var(--text-font-size, calc(12rem / var(--base-font-size, 16)));
        line-height: var(--text-line-height, 1.25);
        margin-bottom: 0.333333em;
        padding-top: 0.666667em
    }

    @media (min-width: 380px) {
        .a9b3c7--size-xx-small {
            font-size: calc(1 * var(--text-font-size, calc(12rem / var(--base-font-size, 16) + 0 * ((100vw - 380px) / 820))))
        }
    }

    @media (min-width: 1200px) {
        .a9b3c7--size-xx-small {
            font-size: calc(1 * var(--text-font-size, calc(12rem / var(--base-font-size, 16))))
        }
    }

    .a9b3c7--size-x-small {
        font-size: var(--text-font-size, calc(14rem / var(--base-font-size, 16)));
        line-height: var(--text-line-height, 1.357143);
        margin-bottom: 0.428571em;
        padding-top: 0.714286em
    }

    @media (min-width: 380px) {
        .a9b3c7--size-x-small {
            font-size: calc(1 * var(--text-font-size, calc(14rem / var(--base-font-size, 16) + 0 * ((100vw - 380px) / 820))))
        }
    }

    @media (min-width: 1200px) {
        .a9b3c7--size-x-small {
            font-size: calc(1 * var(--text-font-size, calc(14rem / var(--base-font-size, 16))))
        }
    }

    .a9b3c7--size-small {
        font-size: var(--text-font-size, calc(17rem / var(--base-font-size, 16)));
        line-height: var(--text-line-height, 1.411765);
        margin-bottom: 0.470588em;
        padding-top: 0.705882em
    }

    @media (min-width: 380px) {
        .a9b3c7--size-small {
            font-size: calc(1 * var(--text-font-size, calc(17rem / var(--base-font-size, 16) + 0 * ((100vw - 380px) / 820))))
        }
    }

    @media (min-width: 1200px) {
        .a9b3c7--size-small {
            font-size: calc(1 * var(--text-font-size, calc(17rem / var(--base-font-size, 16))))
        }
    }

    .a9b3c7--size-medium {
        font-size: var(--text-font-size, calc(18rem / var(--base-font-size, 16)));
        line-height: var(--text-line-height, 1.5);
        margin-bottom: 0.4em;
        padding-top: 0.6em
    }

    @media (min-width: 380px) {
        .a9b3c7--size-medium {
            font-size: calc(1 * var(--text-font-size, calc(18rem / var(--base-font-size, 16) + 2 * ((100vw - 380px) / 820))))
        }
    }

    @media (min-width: 1200px) {
        .a9b3c7--size-medium {
            font-size: calc(1 * var(--text-font-size, calc(20rem / var(--base-font-size, 16))))
        }
    }

    .a9b3c7--size-large {
        font-size: var(--text-font-size, calc(22rem / var(--base-font-size, 16)));
        line-height: var(--text-line-height, 1.333333);
        margin-bottom: 0.5em;
        padding-top: 1.083333em
    }

    @media (min-width: 380px) {
        .a9b3c7--size-large {
            font-size: calc(1 * var(--text-font-size, calc(22rem / var(--base-font-size, 16) + 2 * ((100vw - 380px) / 820))))
        }
    }

    @media (min-width: 1200px) {
        .a9b3c7--size-large {
            font-size: calc(1 * var(--text-font-size, calc(24rem / var(--base-font-size, 16))))
        }
    }

    .a9b3c7--size-x-large {
        font-size: var(--text-font-size, calc(26rem / var(--base-font-size, 16)));
        line-height: var(--text-line-height, 1.137931);
        margin-bottom: 0.413793em;
        padding-top: 1.103448em
    }

    @media (min-width: 380px) {
        .a9b3c7--size-x-large {
            font-size: calc(1 * var(--text-font-size, calc(26rem / var(--base-font-size, 16) + 3 * ((100vw - 380px) / 820))))
        }
    }

    @media (min-width: 1200px) {
        .a9b3c7--size-x-large {
            font-size: calc(1 * var(--text-font-size, calc(29rem / var(--base-font-size, 16))))
        }
    }

    @media screen and (min-width: 0) {
        .a9b3c7--size-xx-small\@small {
            font-size: var(--text-font-size, calc(12rem / var(--base-font-size, 16)));
            line-height: var(--text-line-height, 1.25);
            margin-bottom: 0.333333em;
            padding-top: 0.666667em
        }
    }

    @media screen and (min-width: 0) and (min-width: 380px) {
        .a9b3c7--size-xx-small\@small {
            font-size: calc(1 * var(--text-font-size, calc(12rem / var(--base-font-size, 16) + 0 * ((100vw - 380px) / 820))))
        }
    }

    @media screen and (min-width: 0) and (min-width: 1200px) {
        .a9b3c7--size-xx-small\@small {
            font-size: calc(1 * var(--text-font-size, calc(12rem / var(--base-font-size, 16))))
        }
    }

    @media screen and (min-width: 0) {
        .a9b3c7--size-x-small\@small {
            font-size: var(--text-font-size, calc(14rem / var(--base-font-size, 16)));
            line-height: var(--text-line-height, 1.357143);
            margin-bottom: 0.428571em;
            padding-top: 0.714286em
        }
    }

    @media screen and (min-width: 0) and (min-width: 380px) {
        .a9b3c7--size-x-small\@small {
            font-size: calc(1 * var(--text-font-size, calc(14rem / var(--base-font-size, 16) + 0 * ((100vw - 380px) / 820))))
        }
    }

    @media screen and (min-width: 0) and (min-width: 1200px) {
        .a9b3c7--size-x-small\@small {
            font-size: calc(1 * var(--text-font-size, calc(14rem / var(--base-font-size, 16))))
        }
    }

    @media screen and (min-width: 0) {
        .a9b3c7--size-small\@small {
            font-size: var(--text-font-size, calc(17rem / var(--base-font-size, 16)));
            line-height: var(--text-line-height, 1.411765);
            margin-bottom: 0.470588em;
            padding-top: 0.705882em
        }
    }

    @media screen and (min-width: 0) and (min-width: 380px) {
        .a9b3c7--size-small\@small {
            font-size: calc(1 * var(--text-font-size, calc(17rem / var(--base-font-size, 16) + 0 * ((100vw - 380px) / 820))))
        }
    }

    @media screen and (min-width: 0) and (min-width: 1200px) {
        .a9b3c7--size-small\@small {
            font-size: calc(1 * var(--text-font-size, calc(17rem / var(--base-font-size, 16))))
        }
    }

    @media screen and (min-width: 0) {
        .a9b3c7--size-medium\@small {
            font-size: var(--text-font-size, calc(18rem / var(--base-font-size, 16)));
            line-height: var(--text-line-height, 1.5);
            margin-bottom: 0.4em;
            padding-top: 0.6em
        }
    }

    @media screen and (min-width: 0) and (min-width: 380px) {
        .a9b3c7--size-medium\@small {
            font-size: calc(1 * var(--text-font-size, calc(18rem / var(--base-font-size, 16) + 2 * ((100vw - 380px) / 820))))
        }
    }

    @media screen and (min-width: 0) and (min-width: 1200px) {
        .a9b3c7--size-medium\@small {
            font-size: calc(1 * var(--text-font-size, calc(20rem / var(--base-font-size, 16))))
        }
    }

    @media screen and (min-width: 0) {
        .a9b3c7--size-large\@small {
            font-size: var(--text-font-size, calc(22rem / var(--base-font-size, 16)));
            line-height: var(--text-line-height, 1.333333);
            margin-bottom: 0.5em;
            padding-top: 1.083333em
        }
    }

    @media screen and (min-width: 0) and (min-width: 380px) {
        .a9b3c7--size-large\@small {
            font-size: calc(1 * var(--text-font-size, calc(22rem / var(--base-font-size, 16) + 2 * ((100vw - 380px) / 820))))
        }
    }

    @media screen and (min-width: 0) and (min-width: 1200px) {
        .a9b3c7--size-large\@small {
            font-size: calc(1 * var(--text-font-size, calc(24rem / var(--base-font-size, 16))))
        }
    }

    @media screen and (min-width: 0) {
        .a9b3c7--size-x-large\@small {
            font-size: var(--text-font-size, calc(26rem / var(--base-font-size, 16)));
            line-height: var(--text-line-height, 1.137931);
            margin-bottom: 0.413793em;
            padding-top: 1.103448em
        }
    }

    @media screen and (min-width: 0) and (min-width: 380px) {
        .a9b3c7--size-x-large\@small {
            font-size: calc(1 * var(--text-font-size, calc(26rem / var(--base-font-size, 16) + 3 * ((100vw - 380px) / 820))))
        }
    }

    @media screen and (min-width: 0) and (min-width: 1200px) {
        .a9b3c7--size-x-large\@small {
            font-size: calc(1 * var(--text-font-size, calc(29rem / var(--base-font-size, 16))))
        }
    }

    @media screen and (min-width: 650px) {
        .a9b3c7--size-xx-small\@medium {
            font-size: var(--text-font-size, calc(12rem / var(--base-font-size, 16)));
            line-height: var(--text-line-height, 1.25);
            margin-bottom: 0.333333em;
            padding-top: 0.666667em
        }
    }

    @media screen and (min-width: 650px) and (min-width: 380px) {
        .a9b3c7--size-xx-small\@medium {
            font-size: calc(1 * var(--text-font-size, calc(12rem / var(--base-font-size, 16) + 0 * ((100vw - 380px) / 820))))
        }
    }

    @media screen and (min-width: 650px) and (min-width: 1200px) {
        .a9b3c7--size-xx-small\@medium {
            font-size: calc(1 * var(--text-font-size, calc(12rem / var(--base-font-size, 16))))
        }
    }

    @media screen and (min-width: 650px) {
        .a9b3c7--size-x-small\@medium {
            font-size: var(--text-font-size, calc(14rem / var(--base-font-size, 16)));
            line-height: var(--text-line-height, 1.357143);
            margin-bottom: 0.428571em;
            padding-top: 0.714286em
        }
    }

    @media screen and (min-width: 650px) and (min-width: 380px) {
        .a9b3c7--size-x-small\@medium {
            font-size: calc(1 * var(--text-font-size, calc(14rem / var(--base-font-size, 16) + 0 * ((100vw - 380px) / 820))))
        }
    }

    @media screen and (min-width: 650px) and (min-width: 1200px) {
        .a9b3c7--size-x-small\@medium {
            font-size: calc(1 * var(--text-font-size, calc(14rem / var(--base-font-size, 16))))
        }
    }

    @media screen and (min-width: 650px) {
        .a9b3c7--size-small\@medium {
            font-size: var(--text-font-size, calc(17rem / var(--base-font-size, 16)));
            line-height: var(--text-line-height, 1.411765);
            margin-bottom: 0.470588em;
            padding-top: 0.705882em
        }
    }

    @media screen and (min-width: 650px) and (min-width: 380px) {
        .a9b3c7--size-small\@medium {
            font-size: calc(1 * var(--text-font-size, calc(17rem / var(--base-font-size, 16) + 0 * ((100vw - 380px) / 820))))
        }
    }

    @media screen and (min-width: 650px) and (min-width: 1200px) {
        .a9b3c7--size-small\@medium {
            font-size: calc(1 * var(--text-font-size, calc(17rem / var(--base-font-size, 16))))
        }
    }

    @media screen and (min-width: 650px) {
        .a9b3c7--size-medium\@medium {
            font-size: var(--text-font-size, calc(18rem / var(--base-font-size, 16)));
            line-height: var(--text-line-height, 1.5);
            margin-bottom: 0.4em;
            padding-top: 0.6em
        }
    }

    @media screen and (min-width: 650px) and (min-width: 380px) {
        .a9b3c7--size-medium\@medium {
            font-size: calc(1 * var(--text-font-size, calc(18rem / var(--base-font-size, 16) + 2 * ((100vw - 380px) / 820))))
        }
    }

    @media screen and (min-width: 650px) and (min-width: 1200px) {
        .a9b3c7--size-medium\@medium {
            font-size: calc(1 * var(--text-font-size, calc(20rem / var(--base-font-size, 16))))
        }
    }

    @media screen and (min-width: 650px) {
        .a9b3c7--size-large\@medium {
            font-size: var(--text-font-size, calc(22rem / var(--base-font-size, 16)));
            line-height: var(--text-line-height, 1.333333);
            margin-bottom: 0.5em;
            padding-top: 1.083333em
        }
    }

    @media screen and (min-width: 650px) and (min-width: 380px) {
        .a9b3c7--size-large\@medium {
            font-size: calc(1 * var(--text-font-size, calc(22rem / var(--base-font-size, 16) + 2 * ((100vw - 380px) / 820))))
        }
    }

    @media screen and (min-width: 650px) and (min-width: 1200px) {
        .a9b3c7--size-large\@medium {
            font-size: calc(1 * var(--text-font-size, calc(24rem / var(--base-font-size, 16))))
        }
    }

    @media screen and (min-width: 650px) {
        .a9b3c7--size-x-large\@medium {
            font-size: var(--text-font-size, calc(26rem / var(--base-font-size, 16)));
            line-height: var(--text-line-height, 1.137931);
            margin-bottom: 0.413793em;
            padding-top: 1.103448em
        }
    }

    @media screen and (min-width: 650px) and (min-width: 380px) {
        .a9b3c7--size-x-large\@medium {
            font-size: calc(1 * var(--text-font-size, calc(26rem / var(--base-font-size, 16) + 3 * ((100vw - 380px) / 820))))
        }
    }

    @media screen and (min-width: 650px) and (min-width: 1200px) {
        .a9b3c7--size-x-large\@medium {
            font-size: calc(1 * var(--text-font-size, calc(29rem / var(--base-font-size, 16))))
        }
    }

    @media screen and (min-width: 1000px) {
        .a9b3c7--size-xx-small\@large {
            font-size: var(--text-font-size, calc(12rem / var(--base-font-size, 16)));
            line-height: var(--text-line-height, 1.25);
            margin-bottom: 0.333333em;
            padding-top: 0.666667em
        }
    }

    @media screen and (min-width: 1000px) and (min-width: 380px) {
        .a9b3c7--size-xx-small\@large {
            font-size: calc(1 * var(--text-font-size, calc(12rem / var(--base-font-size, 16) + 0 * ((100vw - 380px) / 820))))
        }
    }

    @media screen and (min-width: 1000px) and (min-width: 1200px) {
        .a9b3c7--size-xx-small\@large {
            font-size: calc(1 * var(--text-font-size, calc(12rem / var(--base-font-size, 16))))
        }
    }

    @media screen and (min-width: 1000px) {
        .a9b3c7--size-x-small\@large {
            font-size: var(--text-font-size, calc(14rem / var(--base-font-size, 16)));
            line-height: var(--text-line-height, 1.357143);
            margin-bottom: 0.428571em;
            padding-top: 0.714286em
        }
    }

    @media screen and (min-width: 1000px) and (min-width: 380px) {
        .a9b3c7--size-x-small\@large {
            font-size: calc(1 * var(--text-font-size, calc(14rem / var(--base-font-size, 16) + 0 * ((100vw - 380px) / 820))))
        }
    }

    @media screen and (min-width: 1000px) and (min-width: 1200px) {
        .a9b3c7--size-x-small\@large {
            font-size: calc(1 * var(--text-font-size, calc(14rem / var(--base-font-size, 16))))
        }
    }

    @media screen and (min-width: 1000px) {
        .a9b3c7--size-small\@large {
            font-size: var(--text-font-size, calc(17rem / var(--base-font-size, 16)));
            line-height: var(--text-line-height, 1.411765);
            margin-bottom: 0.470588em;
            padding-top: 0.705882em
        }
    }

    @media screen and (min-width: 1000px) and (min-width: 380px) {
        .a9b3c7--size-small\@large {
            font-size: calc(1 * var(--text-font-size, calc(17rem / var(--base-font-size, 16) + 0 * ((100vw - 380px) / 820))))
        }
    }

    @media screen and (min-width: 1000px) and (min-width: 1200px) {
        .a9b3c7--size-small\@large {
            font-size: calc(1 * var(--text-font-size, calc(17rem / var(--base-font-size, 16))))
        }
    }

    @media screen and (min-width: 1000px) {
        .a9b3c7--size-medium\@large {
            font-size: var(--text-font-size, calc(18rem / var(--base-font-size, 16)));
            line-height: var(--text-line-height, 1.5);
            margin-bottom: 0.4em;
            padding-top: 0.6em
        }
    }

    @media screen and (min-width: 1000px) and (min-width: 380px) {
        .a9b3c7--size-medium\@large {
            font-size: calc(1 * var(--text-font-size, calc(18rem / var(--base-font-size, 16) + 2 * ((100vw - 380px) / 820))))
        }
    }

    @media screen and (min-width: 1000px) and (min-width: 1200px) {
        .a9b3c7--size-medium\@large {
            font-size: calc(1 * var(--text-font-size, calc(20rem / var(--base-font-size, 16))))
        }
    }

    @media screen and (min-width: 1000px) {
        .a9b3c7--size-large\@large {
            font-size: var(--text-font-size, calc(22rem / var(--base-font-size, 16)));
            line-height: var(--text-line-height, 1.333333);
            margin-bottom: 0.5em;
            padding-top: 1.083333em
        }
    }

    @media screen and (min-width: 1000px) and (min-width: 380px) {
        .a9b3c7--size-large\@large {
            font-size: calc(1 * var(--text-font-size, calc(22rem / var(--base-font-size, 16) + 2 * ((100vw - 380px) / 820))))
        }
    }

    @media screen and (min-width: 1000px) and (min-width: 1200px) {
        .a9b3c7--size-large\@large {
            font-size: calc(1 * var(--text-font-size, calc(24rem / var(--base-font-size, 16))))
        }
    }

    @media screen and (min-width: 1000px) {
        .a9b3c7--size-x-large\@large {
            font-size: var(--text-font-size, calc(26rem / var(--base-font-size, 16)));
            line-height: var(--text-line-height, 1.137931);
            margin-bottom: 0.413793em;
            padding-top: 1.103448em
        }
    }

    @media screen and (min-width: 1000px) and (min-width: 380px) {
        .a9b3c7--size-x-large\@large {
            font-size: calc(1 * var(--text-font-size, calc(26rem / var(--base-font-size, 16) + 3 * ((100vw - 380px) / 820))))
        }
    }

    @media screen and (min-width: 1000px) and (min-width: 1200px) {
        .a9b3c7--size-x-large\@large {
            font-size: calc(1 * var(--text-font-size, calc(29rem / var(--base-font-size, 16))))
        }
    }

    @media screen and (min-width: 1200px) {
        .a9b3c7--size-xx-small\@x-large {
            font-size: var(--text-font-size, calc(12rem / var(--base-font-size, 16)));
            line-height: var(--text-line-height, 1.25);
            margin-bottom: 0.333333em;
            padding-top: 0.666667em
        }
    }

    @media screen and (min-width: 1200px) and (min-width: 380px) {
        .a9b3c7--size-xx-small\@x-large {
            font-size: calc(1 * var(--text-font-size, calc(12rem / var(--base-font-size, 16) + 0 * ((100vw - 380px) / 820))))
        }
    }

    @media screen and (min-width: 1200px) and (min-width: 1200px) {
        .a9b3c7--size-xx-small\@x-large {
            font-size: calc(1 * var(--text-font-size, calc(12rem / var(--base-font-size, 16))))
        }
    }

    @media screen and (min-width: 1200px) {
        .a9b3c7--size-x-small\@x-large {
            font-size: var(--text-font-size, calc(14rem / var(--base-font-size, 16)));
            line-height: var(--text-line-height, 1.357143);
            margin-bottom: 0.428571em;
            padding-top: 0.714286em
        }
    }

    @media screen and (min-width: 1200px) and (min-width: 380px) {
        .a9b3c7--size-x-small\@x-large {
            font-size: calc(1 * var(--text-font-size, calc(14rem / var(--base-font-size, 16) + 0 * ((100vw - 380px) / 820))))
        }
    }

    @media screen and (min-width: 1200px) and (min-width: 1200px) {
        .a9b3c7--size-x-small\@x-large {
            font-size: calc(1 * var(--text-font-size, calc(14rem / var(--base-font-size, 16))))
        }
    }

    @media screen and (min-width: 1200px) {
        .a9b3c7--size-small\@x-large {
            font-size: var(--text-font-size, calc(17rem / var(--base-font-size, 16)));
            line-height: var (--text-line-height, 1.411765);
            margin-bottom: 0.470588em;
            padding-top: 0.705882em
        }
    }

    @media screen and (min-width: 1200px) and (min-width: 380px) {
        .a9b3c7--size-small\@x-large {
            font-size: calc(1 * var(--text-font-size, calc(17rem / var(--base-font-size, 16) + 0 * ((100vw - 380px) / 820))))
        }
    }

    @media screen and (min-width: 1200px) and (min-width: 1200px) {
        .a9b3c7--size-small\@x-large {
            font-size: calc(1 * var(--text-font-size, calc(17rem / var(--base-font-size, 16))))
        }
    }

    @media screen and (min-width: 1200px) {
        .a9b3c7--size-medium\@x-large {
            font-size: var(--text-font-size, calc(18rem / var(--base-font-size, 16)));
            line-height: var(--text-line-height, 1.5);
            margin-bottom: 0.4em;
            padding-top: 0.6em
        }
    }

    @media screen and (min-width: 1200px) and (min-width: 380px) {
        .a9b3c7--size-medium\@x-large {
            font-size: calc(1 * var(--text-font-size, calc(18rem / var(--base-font-size, 16) + 2 * ((100vw - 380px) / 820))))
        }
    }

    @media screen and (min-width: 1200px) and (min-width: 1200px) {
        .a9b3c7--size-medium\@x-large {
            font-size: calc(1 * var(--text-font-size, calc(20rem / var(--base-font-size, 16))))
        }
    }

    @media screen and (min-width: 1200px) {
        .a9b3c7--size-large\@x-large {
            font-size: var(--text-font-size, calc(22rem / var(--base-font-size, 16)));
            line-height: var(--text-line-height, 1.333333);
            margin-bottom: 0.5em;
            padding-top: 1.083333em
        }
    }

    @media screen and (min-width: 1200px) and (min-width: 380px) {
        .a9b3c7--size-large\@x-large {
            font-size: calc(1 * var(--text-font-size, calc(22rem / var(--base-font-size, 16) + 2 * ((100vw - 380px) / 820))))
        }
    }

    @media screen and (min-width: 1200px) and (min-width: 1200px) {
        .a9b3c7--size-large\@x-large {
            font-size: calc(1 * var(--text-font-size, calc(24rem / var(--base-font-size, 16))))
        }
    }

    @media screen and (min-width: 1200px) {
        .a9b3c7--size-x-large\@x-large {
            font-size: var(--text-font-size, calc(26rem / var(--base-font-size, 16)));
            line-height: var(--text-line-height, 1.137931);
            margin-bottom: 0.413793em;
            padding-top: 1.103448em
        }
    }

    @media screen and (min-width: 1200px) and (min-width: 380px) {
        .a9b3c7--size-x-large\@x-large {
            font-size: calc(1 * var(--text-font-size, calc(26rem / var(--base-font-size, 16) + 3 * ((100vw - 380px) / 820))))
        }
    }

    @media screen and (min-width: 1200px) and (min-width: 1200px) {
        .a9b3c7--size-x-large\@x-large {
            font-size: calc(1 * var(--text-font-size, calc(29rem / var(--base-font-size, 16))))
        }
    }

    @media screen and (min-width: 1350px) {
        .a9b3c7--size-xx-small\@xx-large {
            font-size: var(--text-font-size, calc(12rem / var(--base-font-size, 16)));
            line-height: var(--text-line-height, 1.25);
            margin-bottom: 0.333333em;
            padding-top: 0.666667em
        }
    }

    @media screen and (min-width: 1350px) and (min-width: 380px) {
        .a9b3c7--size-xx-small\@xx-large {
            font-size: calc(1 * var(--text-font-size, calc(12rem / var(--base-font-size, 16) + 0 * ((100vw - 380px) / 820))))
        }
    }

    @media screen and (min-width: 1350px) and (min-width: 1200px) {
        .a9b3c7--size-xx-small\@xx-large {
            font-size: calc(1 * var(--text-font-size, calc(12rem / var(--base-font-size, 16))))
        }
    }

    @media screen and (min-width: 1350px) {
        .a9b3c7--size-x-small\@xx-large {
            font-size: var(--text-font-size, calc(14rem / var(--base-font-size, 16)));
            line-height: var(--text-line-height, 1.357143);
            margin-bottom: 0.428571em;
            padding-top: 0.714286em
        }
    }

    @media screen and (min-width: 1350px) and (min-width: 380px) {
        .a9b3c7--size-x-small\@xx-large {
            font-size: calc(1 * var(--text-font-size, calc(14rem / var(--base-font-size, 16) + 0 * ((100vw - 380px) / 820))))
        }
    }

    @media screen and (min-width: 1350px) and (min-width: 1200px) {
        .a9b3c7--size-x-small\@xx-large {
            font-size: calc(1 * var(--text-font-size, calc(14rem / var(--base-font-size, 16))))
        }
    }

    @media screen and (min-width: 1350px) {
        .a9b3c7--size-small\@xx-large {
            font-size: var(--text-font-size, calc(17rem / var(--base-font-size, 16)));
            line-height: var(--text-line-height, 1.411765);
            margin-bottom: 0.470588em;
            padding-top: 0.705882em
        }
    }

    @media screen and (min-width: 1350px) and (min-width: 380px) {
        .a9b3c7--size-small\@xx-large {
            font-size: calc(1 * var(--text-font-size, calc(17rem / var(--base-font-size, 16) + 0 * ((100vw - 380px) / 820))))
        }
    }

    @media screen and (min-width: 1350px) and (min-width: 1200px) {
        .a9b3c7--size-small\@xx-large {
            font-size: calc(1 * var(--text-font-size, calc(17rem / var(--base-font-size, 16))))
        }
    }

    @media screen and (min-width: 1350px) {
        .a9b3c7--size-medium\@xx-large {
            font-size: var(--text-font-size, calc(18rem / var(--base-font-size, 16)));
            line-height: var(--text-line-height, 1.5);
            margin-bottom: 0.4em;
            padding-top: 0.6em
        }
    }

    @media screen and (min-width: 1350px) and (min-width: 380px) {
        .a9b3c7--size-medium\@xx-large {
            font-size: calc(1 * var(--text-font-size, calc(18rem / var(--base-font-size, 16) + 2 * ((100vw - 380px) / 820))))
        }
    }

    @media screen and (min-width: 1350px) and (min-width: 1200px) {
        .a9b3c7--size-medium\@xx-large {
            font-size: calc(1 * var(--text-font-size, calc(20rem / var(--base-font-size, 16))))
        }
    }

    @media screen and (min-width: 1350px) {
        .a9b3c7--size-large\@xx-large {
            font-size: var(--text-font-size, calc(22rem / var(--base-font-size, 16)));
            line-height: var(--text-line-height, 1.333333);
            margin-bottom: 0.5em;
            padding-top: 1.083333em
        }
    }

    @media screen and (min-width: 1350px) and (min-width: 380px) {
        .a9b3c7--size-large\@xx-large {
            font-size: calc(1 * var(--text-font-size, calc(22rem / var(--base-font-size, 16) + 2 * ((100vw - 380px) / 820))))
        }
    }

    @media screen and (min-width: 1350px) and (min-width: 1200px) {
        .a9b3c7--size-large\@xx-large {
            font-size: calc(1 * var(--text-font-size, calc(24rem / var(--base-font-size, 16))))
        }
    }

    @media screen and (min-width: 1350px) {
        .a9b3c7--size-x-large\@xx-large {
            font-size: var(--text-font-size, calc(26rem / var(--base-font-size, 16)));
            line-height: var(--text-line-height, 1.137931);
            margin-bottom: 0.413793em;
            padding-top: 1.103448em
        }
    }

    @media screen and (min-width: 1350px) and (min-width: 380px) {
        .a9b3c7--size-x-large\@xx-large {
            font-size: calc(1 * var(--text-font-size, calc(26rem / var(--base-font-size, 16) + 3 * ((100vw - 380px) / 820))))
        }
    }

    @media screen and (min-width: 1350px) and (min-width: 1200px) {
        .a9b3c7--size-x-large\@xx-large {
            font-size: calc(1 * var(--text-font-size, calc(29rem / var(--base-font-size, 16))))
        }
    }

    .a9b3c7--spacing-none {
        margin-bottom: 0;
        padding-top: 0
    }

    .a9b3c7--spacing-long-form-bottom {
        padding-top: 0
    }

    .a9b3c7--spacing-long-form-top {
        margin-bottom: 0
    }

    .h2j5k8 {
        font-variation-settings: "opsz" 12, "wght" 500;
        font-weight: var(--text-font-weight, 500)
    }

    .m4n7p2 {
        font-variation-settings: "opsz" 12, "wght" 700;
        font-weight: var(--text-font-weight, 700)
    }

    .q8r5t3.w6x9y4 {
        color: var(--text-color, #FFFFFF)
    }

    .u1v4w7 {
        color: var(--text-color, rgba(0, 15, 30, 0.6))
    }

    .u1v4w7.w6x9y4 {
        color: var(--text-color, rgba(255, 255, 255, 0.6))
    }
}
